// @file
// Header element styles.

// header {}
.l-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .l-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint-max(urbi-breakpoint(mobile-menu), true){
      width: 100%;
    }
  }
}