.tag {
  @include link(urbi-color(ui, generic, accent-dark));
  border: 2px solid urbi-color(ui, generic, accent-light);
  border-radius: 70px;
  display: inline-block;
  font-size: rem(urbi-font-size(1));
  margin: 0 0 rem(urbi-spacing(1));
  padding: 0.25em 1.65em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow urbi-duration(short) urbi-easing(ease-in);

  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px urbi-color(ui, generic, accent-light);
    outline: 0;
  }
}
