// @file
// Styles for hero using a background image.

$hero-bg-image-bp: urbi-breakpoint(desktop) !default;

.hero-bg-image {
  background-position: 50% 50%;
  background-size: cover;
  color: urbi-color(text, on-dark);
  padding: rem(urbi-spacing(12)) 15%;
  text-align: center;

  &.has-overlay {
    position: relative;

    &::after {
      background: rgba(0, 0, 0, 0.5);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }

    .hero-bg-image__content {
      position: relative;
      z-index: 2;
    }
  }
}

.hero-bg-image__title {
  @include display-text-style(display);
  color: urbi-color(text, on-dark);
  margin-bottom: rem(urbi-spacing(5));

  @include breakpoint-max($hero-bg-image-bp, true) {
    font-size: rem(urbi-font-size(7));
    margin-bottom: rem(urbi-spacing(3));
  }
}

.hero-bg-image__summary {
  @include display-text-style(body-large);
  color: urbi-color(text, on-dark);
  margin-bottom: rem(urbi-spacing(5));

  @include breakpoint-max($hero-bg-image-bp, true) {
    font-size: rem(urbi-font-size(2));
    margin-bottom: rem(urbi-spacing(3));
  }
}

.hero-bg-image--left {
  text-align: left;

  @include breakpoint($hero-bg-image-bp) {
    padding-left: 10%;
    padding-right: 35%;
  }
}

.hero-bg-image--right {
  text-align: left;

  @include breakpoint($hero-bg-image-bp) {
    padding-left: 35%;
    padding-right: 10%;
  }
}
